$azul: #003391;
$azulOscuro: #02236D;

$amarillo: #F3B229;

$blanco: #fafafa;

$fontsBlack: #0f0f0f;
$fontsGrey: #7d7d7d;

$grisAzulado: #1D293E;
$grisAzuladoClaro: #27344B;

$fontAlfaSlabOne: "Alfa Slab One", serif;
$fontAdineuePro: "adineue PRO";
$fontAdihausDIN: "AdihausDIN";
$fontAvantGarde: 'ITC Avant Garde Gothic';
$fontSofiaSans: "Sofia Sans Extra Condensed", serif;